.bookings__list{
    list-style: none;
    margin: 0;
    padding: 0;
}

.booking__item{
    margin: 0.5rem 0;
    padding: .5rem;
    border: 1px solid #5101d1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.booking__item-actions{

}