.main-navigation{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3.5rem;
    background: #01d1d1;
    display: flex;
    align-items: center;

}
.main-navigation_items h1{
    margin: 0;
    font-size: 1.5rem;
}

.main-navigation_items{
    margin-left: 1.5rem;
}

.main-navigation_items ul{
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0 ;
    padding: 0;
}
.main-navigation_items li{
    margin: 0 1rem;
}

.main-navigation_items a,
.main-navigation_items button
{
    text-decoration: none;
    color: aliceblue;
    padding: .25rem .5rem;
    border: none;
    font: inherit;
    background: transparent;
    cursor: pointer;
}

.main-navigation_items a:hover,
.main-navigation_items a:active,
.main-navigation_items a.active
{
    color: rgb(239 41 187);
}